br
.h5 Евро/рубль
= render 'currency_charts', currency: @eur_rub
hr
.h5 Евро/доллар
= render 'currency_charts', currency: @eur_usd
hr
.h5 Евро/фунт стерлингов
= render 'currency_charts', currency: @eur_gbp
