br
.h5 Доллар/Рубль
= render 'currency_charts', currency: @usd_rub
hr
.h5 Доллар/Евро
= render 'currency_charts', currency: @usd_eur
hr
.h5 Доллар/Фунт стерлингов
= render 'currency_charts', currency: @usd_gbp
